%html
  %head
    %link(href="../../../Downloads/favicon.ico")
    %link(rel="stylesheet" type="text/css" href="stylesheets/main.css")
    %link(rel="stylesheet" type="text/css" href="bower_components/Ionicons/css/ionicons.min.css")
    %script(src="bower_components/jquery/dist/jquery.min.js")
    %script(src="bower_components/html2canvas/build/html2canvas.js")
    %script(src="scripts/main.js")
  %body
    #title
      %h1 The Meme Machine
      #credits by Ty C. and David H.
    #image
      .top
        .text#tp_txt(contentEditable='true') top here
      .bottom
        .text#bt_txt(contentEditable='true') bottom here
    #menu
      #m_title Preview
      %img#prvw(src="assets/3.JPG")
      #process.btn Process...
      %a#download.btn(download) Download <span class="ion-arrow-down-b"></span>
