body {
  background: #444;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

#title {
  color: white;
  font-family: 'Comic Sans MS';
  position: absolute;
  top: 20px;
  left: 20px;
  width: calc(((100vw - 100vh) / 2) - 40px);
  font-size: 55px; }

#image {
  height: 100vh;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.6); }
  #image .top {
    position: relative;
    height: 50vh;
    width: 100vh;
    background-image: url("../assets/1.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; }
  #image .bottom {
    position: relative;
    height: 50vh;
    width: 100vh;
    background-image: url("../assets/2.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; }

.text {
  width: 80%;
  margin-left: 10%;
  position: absolute;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Impact';
  font-size: 51px;
  color: white;
  text-shadow: 3px 3px 0 #000, -3px -3px 0 #000, 3px -3px 0 #000, -3px 3px 0 #000, 0px 3px 0 #000, 3px 0px 0 #000, 0px -3px 0 #000, -3px 0px 0 #000, 3px 3px 3px #000;
  text-transform: uppercase;
  text-align: center;
  -webkit-transition: all 1s;
  transition: all 1s; }
  .text:focus {
    outline: none; }

#img_out {
  position: absolute;
  width: 150px;
  height: 150px;
  border: solid 2px #333;
  top: 20px;
  right: 20px;
  padding: 0;
  margin: 0;
  border-radius: 20px;
  background-position: center center;
  background-size: cover;
  overflow: hidden; }

#download {
  background: #3498db;
  cursor: pointer;
  position: absolute;
  top: 190px;
  right: 20px;
  width: 150px;
  padding: 10px 0;
  border-radius: 5px;
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
  color: white;
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }
  #download:hover {
    background: #2f8cca;
    box-shadow: 0 0 0 3px white, 0 0 0 6px #2f8cca; }
  #download:active {
    background: #2980b9;
    box-shadow: 0 0 0 4px white, 0 0 0 8px #2980b9; }
  #download span {
    margin-left: 5px; }

#tp_txt {
  top: 0; }

#bt_txt {
  bottom: 0; }
